section.feature-box.searching{
    block-size: 700px;
}
section.feature-box.searching div.tabs{
    display: flex;
    flex-direction: row;
    block-size: 50px;
}
section.feature-box.searching div.searchingTab{
    margin: auto;
}
section.feature-box.searching div.searchingCanvas{
    display: flex;
    flex-direction: row;
    block-size: 80%;
}
section.feature-box.searching div.searchingColumn{
    width: 1%;
    height: 100%;
    background-color: rgb(0,5,40);
}
